<div
  class="min-h-dvh w-full bg-slate-100 dark:bg-gray-900 flex items-center justify-center transition-colors duration-300"
>
  <div class="left-0 absolute bottom-0 p-0">
    <img
      src="assets/equipos-animados.png"
      alt="Equipos animados"
      class="w-150 h-150"
    />
  </div>

  <div
    class="bg-white dark:bg-gray-800 w-150 h-153 flex flex-col items-center gap-5 pt-5 rounded-2xl shadow-xl dark:shadow-gray-900/50"
  >
    <!--Logo-->
    <div class="flex items-center space-x-4">
      <div class="relative group">
        <div class="absolute inset-0"></div>
        <div class="relative bg-white dark:bg-gray-800 rounded-full p-1">
          <img
            src="assets/logoPrinc.png"
            alt="Logo TecnoStore"
            class="h-10 w-10 filter rounded-full drop-shadow-lg"
          />
        </div>
      </div>
      <div>
        <h2
          class="text-4xl font-hunter bg-gradient-to-r from-blue-600 to-blue-400 bg-clip-text text-transparent"
        >
          TecnoStore
        </h2>
        <p
          class="text-slate-500 dark:text-gray-400 text-sm tracking-wider uppercase"
        >
          Tu tienda tecnológica
        </p>
      </div>
    </div>

    <!--Campos-->
    <div class="pt-4">
      <h2
        class="text-5xl pb-1 font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-blue-400"
      >
        Registrarse
      </h2>
    </div>

    <div class="flex flex-col gap-4 w-full px-20">
      <label
        for=""
        class="text-slate-700 dark:text-gray-300 text-lg font-semibold"
        >Correo</label
      >
      <input
        type="text"
        class="w-full h-10 p-2 border border-slate-300 dark:border-gray-600 rounded-md text-slate-700 dark:text-gray-200 dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-colors duration-200"
      />
      <label
        for=""
        class="text-slate-700 dark:text-gray-300 text-lg font-semibold"
        >Contraseña</label
      >
      <input
        type="password"
        class="w-full h-10 p-2 border border-slate-300 dark:border-gray-600 rounded-md text-slate-700 dark:text-gray-200 dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-colors duration-200"
      />
      <label
        for=""
        class="text-slate-700 dark:text-gray-300 text-lg font-semibold"
        >Repetir Contraseña</label
      >
      <input
        type="password"
        class="w-full h-10 p-2 border border-slate-300 dark:border-gray-600 rounded-md text-slate-700 dark:text-gray-200 dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-colors duration-200"
      />
    </div>

    <!--Boton-->
    <div class="">
      <button
        class="inline-flex items-center justify-center bg-gradient-to-r text-2xl text-white font-semibold from-blue-600 to-blue-400 px-6 py-2 rounded-lg hover:scale-105 hover:shadow-lg hover:from-blue-700 hover:to-blue-500 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-900"
      >
        Registrarse
      </button>
    </div>

    <!--Enlace-->
    <div>
      <p
        class="text-slate-500 dark:text-gray-400 text-sm tracking-wider uppercase"
      >
        ¿Ya tienes una cuenta?
        <a
          href=""
          class="text-blue-600 dark:text-blue-400 hover:underline hover:font-semibold transition-colors duration-200"
          >Iniciar Sesión</a
        >
      </p>
    </div>
  </div>
</div>
