/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
    font-family: 'Hunter';
    src: url('./assets/fonts/Hunters K-Pop.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.font-hunter {
  font-family: 'Hunter', sans-serif;
}

